#body{
    background-color:#000000;
    font-family: Arial, sans-serif;
    margin:0;
}

h1{
    text-align:center;
    background-color:#333333;
    color:aqua;
    padding:20px;
    border-radius:10px;

}

.container {
    width: 900px;
    background-color: rgb(224, 63, 63);
    justify-content: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    margin: 50px auto;
}

h2 {
    color: #ede8e8;
    margin-bottom: 10px;
    font-size: 34px;
}

p {
    color: #0e0d0d;
    font-size: 16px;
    line-height: 1.5;
    font-size: 18px;
}